@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Set your desired default weight, e.g., 400 for regular */
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

* > * {
    font-family: inherit; /* Inherit the font-family for all children elements */
    font-weight: inherit; /* Inherit the font-weight for all children elements */
}

body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
}   